.page{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
}

.items{
    height: 100%;
    width:60%;
    /* background-color: blueviolet; */
    padding: 0.5em;
}

.list{
    display: flex;
    flex-direction: column;
    gap:1em;
    /* border:2px solid green */
}

.summary{
    /* flex: 0 1 auto; */
    background: #7e8aa0;
    /* width: 40%; */
    padding: 0.5em;
    /* height: 100%; */
    position: fixed;
    right: 5vw;
    top:20%;
    display: flex;
    flex-direction: column;
}

.summaryItem{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.summary > button{
    max-width: 40vw;
    align-self: center;
    margin-top: 2em;
}

hr{
    width: 100%;
}

@media(max-width: 1000px){
    .page{
        flex-direction: column-reverse;
        align-items: center;
    }
    .summary{
        position: static;
        line-height: 0.2em;
        width: 80%;
    }
}