
.card > img{
    width:200px;
}

.card{
    /* border: 1px solid green; */
    flex:1;
    padding: 10px 0;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    /* gap:10px; */
    /* box-shadow: 2px 2px 2px  black; */
    transition: 0.5s;
    position: relative;
    max-height: 50vh;
    max-width: 15vw;
}

.card:hover{
    transition: 0.5s;
    box-shadow: 8px 17px 25px -14px rgba(0,0,0,0.75);
}

.card > img {
    min-width: 100%;
}

.card > .detail{
    width:100%;
    background-color: #fff;
    padding: 10px 0;
}

 .name {
    font-size: 16px;
    font-weight: 600;
}

 .price {
    font-size: 18px;
    font-weight: bold;
}

.card > .btn {
    width: 100%;
    border: none;
    background-color: #ff9f00;
    color:#fff;
    height:2em;
    cursor: pointer;
    transition: 200ms;
}

.card > .btn:hover{
    color:black;
font-weight: 500;
border: 2px solid black;
border-left: 0px;
border-right: 0px;
}

.card > .heart {
    position: absolute;
    right:10px;
    top:10px;
    font-size: 32px;
    color:gray;
    cursor: pointer;
    transition: 0.2s;
    /* left:0; */
}

.card > .heart:hover {
    color:tomato;
    transform: scale(1.2);
    /* left:0; */
}